In [8]:
import pandas as pd
data={'dept':['HR','Eng','HR','Eng','Mark'],'sales':[2000,4000,1500,3500,3000]}
df=pd.DataFrame(data)
group=df.groupby('dept')['sales'].sum()
print(group)

dept
Eng     7500
HR      3500
Mark    3000
Name: sales, dtype: int64

In [10]:
group=df.groupby('dept')['sales'].agg(['sum','max','mean'])
print(group)

       sum   max    mean
dept
Eng   7500  4000  3750.0
HR    3500  2000  1750.0
Mark  3000  3000  3000.0

In [12]:
import pandas as pd
data={'dept':['HR','Eng','HR','Eng','Mark'],'region':['north','south','north','south','north'],'sales':[2000,4000,1500,3500,3000]}
df=pd.DataFrame(data)
group=df.groupby(['dept','region'])['sales'].sum()
print(group)

dept  region
Eng   south     7500
HR    north     3500
Mark  north     3000
Name: sales, dtype: int64

In [14]:
group_reset=group.reset_index()
print(group_reset)

   dept region  sales
0   Eng  south   7500
1    HR  north   3500
2  Mark  north   3000

In [16]:
df=pd.DataFrame({'category':['A','A','B','B','A'],'value1':[10,20,30,40,50],'value2':[100,200,300,400,500]})
group=df.groupby('category').agg({'value1':['sum','mean'],'value2':'max'})
print(group)

         value1            value2
            sum       mean    max
category
A            80  26.666667    500
B            70  35.000000    400

In [18]:
import pandas as pd
data={'store':['A','A','A','B','B','B','C','C','C'],'month':['jan','feb','mar','jan','feb','mar','jan','feb','mar'],'sales':[2500,3000,3500,2000,2200,2700,4000,4200,4500]}
df=pd.DataFrame(data)
group=df.groupby('store')
print(group)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000015AFA631040>

In [20]:
group_agg=group['sales'].agg(['sum','mean'])
print(group_agg)

         sum         mean
store
A       9000  3000.000000
B       6900  2300.000000
C      12700  4233.333333

In [22]:
group_agg_reset=group_agg.reset_index()
print(group_agg_reset)

  store    sum         mean
0     A   9000  3000.000000
1     B   6900  2300.000000
2     C  12700  4233.333333

In [24]:
def sales_range(group):
    return group.max()-group.min()
sales_range_result=group['sales'].apply(sales_range)
print(sales_range_result)

store
A    1000
B     700
C     500
Name: sales, dtype: int64

In [26]:
group_com=group.agg({'sales':['sum','mean',sales_range]})
print(group_com)

       sales
         sum         mean sales_range
store
A       9000  3000.000000        1000
B       6900  2300.000000         700
C      12700  4233.333333         500