In [4]:
import pandas as pd
data={'name': ['alice','bob','charlie'],
      'age': [25,30,35]}
df=pd.DataFrame(data)
print(df)

      name  age
0    alice   25
1      bob   30
2  charlie   35

In [6]:
df.set_index('name',inplace=True)
print(df)

         age
name
alice     25
bob       30
charlie   35

In [8]:
data={'country':['usa','usa','canada','canada'],'city':['newyork','los angeles','toronta','varcouver'],'population':[80000,40000,280000,60000]}
df=pd.DataFrame(data)
df.set_index(['country','city'],inplace=True)
print(df)

                     population
country city
usa     newyork           80000
        los angeles       40000
canada  toronta          280000
        varcouver         60000

In [10]:

arrays = [['usa', 'usa', 'canada', 'canada'], ['newyork', 'los angeles', 'toronta', 'vancouver']]
index = pd.MultiIndex.from_arrays(arrays, names=['country', 'city'])

df = pd.DataFrame({'population': [80000, 40000, 280000, 60000]}, index=index)

print(df)

                     population
country city
usa     newyork           80000
        los angeles       40000
canada  toronta          280000
        vancouver         60000

In [12]:
print(df.loc['usa','newyork'])
print(df.loc['canada'])

population    80000
Name: (usa, newyork), dtype: int64
           population
city
toronta        280000
vancouver       60000

In [14]:
df_reset=df.reset_index()
print(df)

                     population
country city
usa     newyork           80000
        los angeles       40000
canada  toronta          280000
        vancouver         60000