In [1]:
import pandas as pd 
data = {'Day': range(1, 31), 'Temperature': [12, 14, 15, 16, 17, 18, 20, 21, 
22, 23, 24, 25, 26, 27, 28, 29, 30, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 
42, 43, 44]} 
df = pd.DataFrame(data) 
df['Quartile'] = pd.qcut(df['Temperature'], q=4, labels=['Coldest', 'Cool', 
'Warm', 'Hottest']) 
print(df)

    Day  Temperature Quartile
0     1           12  Coldest
1     2           14  Coldest
2     3           15  Coldest
3     4           16  Coldest
4     5           17  Coldest
5     6           18  Coldest
6     7           20  Coldest
7     8           21  Coldest
8     9           22     Cool
9    10           23     Cool
10   11           24     Cool
11   12           25     Cool
12   13           26     Cool
13   14           27     Cool
14   15           28     Cool
15   16           29     Warm
16   17           30     Warm
17   18           32     Warm
18   19           33     Warm
19   20           34     Warm
20   21           35     Warm
21   22           36     Warm
22   23           37  Hottest
23   24           38  Hottest
24   25           39  Hottest
25   26           40  Hottest
26   27           41  Hottest
27   28           42  Hottest
28   29           43  Hottest
29   30           44  Hottest

In [3]:
import pandas as pd 
# Sample dataset 
data = {'Region': ['North', 'North', 'South', 'South', 'West', 'West'], 
'Product': ['A', 'B', 'A', 'B', 'A', 'B'], 
'Sales': [150, 200, 100, 250, 300, 400]} 
df = pd.DataFrame(data) 
# Pivot Table 
pivot_table = df.pivot_table(values='Sales', index='Region', 
columns='Product', aggfunc='sum', fill_value=0) 
print(pivot_table)

Product    A    B
Region
North    150  200
South    100  250
West     300  400

In [9]:
# Crosstab 
crosstab = pd.crosstab(index=df['Region'], columns=df['Product'], 
values=df['Sales'], aggfunc='sum', margins=True) 
print(crosstab)

Product    A    B   All
Region
North    150  200   350
South    100  250   350
West     300  400   700
All      550  850  1400