In [1]:
import pandas as pd
obj=pd.Series([4,7,-5,3])
print(obj)

0    4
1    7
2   -5
3    3
dtype: int64

In [3]:
obj2=pd.Series([4,7,-5,3],index=['d','b','a','c'])
print(obj2)
print(obj2['a'])
obj2['d']=6
print(obj2)

d    4
b    7
a   -5
c    3
dtype: int64
-5
d    6
b    7
a   -5
c    3
dtype: int64

In [9]:
print(obj2[obj2>0])

d    6
b    7
c    3
dtype: int64

In [11]:
print(obj2*2)

d    12
b    14
a   -10
c     6
dtype: int64

In [33]:
import numpy as np
print(np.exp(obj2))

d     403.428793
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

In [19]:
print('b' in obj2)

True

In [21]:
print('e' in obj2)

False

In [25]:
sdata={'Ohio':35000,'Texas':71000,'Oregan':16000,'Utah':5000}
obj3=pd.Series(sdata)
print(obj3)

Ohio      35000
Texas     71000
Oregan    16000
Utah       5000
dtype: int64

In [29]:
states=['California','Ohio','Texas','Oregan']
obj4=pd.Series(sdata,index=states)
print(obj4)

California        NaN
Ohio          35000.0
Texas         71000.0
Oregan        16000.0
dtype: float64

In [35]:
pd.isnull(obj4)

California     True
Ohio          False
Texas         False
Oregan        False
dtype: bool

In [37]:
pd.notnull(obj4)

California    False
Ohio           True
Texas          True
Oregan         True
dtype: bool